<div class="container-fluid mt-5 about-style" id="About">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow Your Business With Us</p>
        <div class="row">
          {{!-- left side --}}
          <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="/img/growth.png" height="400px" width="100%" alt="herosection-image">
            </figure>
          </div>
          {{!-- right side --}}
           <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
            <h1>WE ARE PROFESSINAL DEVELOPER ✌️</h1>
            <p>Welcome to <span class="bold-style">Full Stack Developer</span>
            Your Number One Sources for All Things. We're Dedicated to giving 
            you the very best of work, with a focus on [Three characteristics Ie:Dependability,Customer Services And Uniqueness]
            </p>
            <a href="#About"><button class="btn-style btn-primary">Read More</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>