<div class="container-fluid mt-5 contact-style" id="Contact">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">We will be happy to help you</p>

            <div class="row">
                <div class="col-md-6 col-12 mx-auto">

                    <form action="/Contact" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" >Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" >Email address</label>
                            <input type="email" aria-describedby="emailHelp" name="email" class="form-control form-text text-muted" id="exampleFormControlInput1" placeholder="Enter your email">
                            We'll never share your email with anyone
                            else.
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" >Phone</label>
                            <input type="numeric" maxlength="12" minlength="10" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" >Message</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Message" name="message">
                        </div>

                        <button type="submit" class="btn-style btn1 btn-primary">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>