    <footer class="footer background1 text-center py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div>
              <p>@ 2022 Copyright : <span>Join Our Full Stack Development Course </span></p>
            </div>
          </div>
        </div>
      </div>
    </footer>