<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          {{!-- left side --}}
          <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p>We are The Team Of <span class="bold-style">Professional Developer ✌️</span></p>
            <a href="#About"><button class="btn-style btn-primary">Read More</button></a>
          </div>
          {{!-- right side --}}
           <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="/img/growth.png" height="400px" width="100%" alt="herosection-image">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>