<div class="container-fluid mt-5 about-style" id="Services">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Our Services</h1>
        <p class="text-center sub-heading">Grow Your Business With Us</p>
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="our-services settings">
                <div class="icon">
                  <img src="/img/settings.png" alt="">
                </div>
                <h4>Settings</h4>
                <p>To find your first few settings, swipe down from the top of your screen. To find all your Quick Settings.</p>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="box">
              <div class="our-services speedup">
                <div class="icon">
                  <img src="img/speedometer.png" alt="">
                </div>
                <h4>Speedup</h4>
                <p>To find your first few settings, swipe down from the top of your screen. To find all your Quick Settings.</p>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="box">
              <div class="our-services privacy">
                <div class="icon">
                  <img src="/img/privacy.png" alt="">
                </div>
                <h4>Privacy</h4>
                <p>To find your first few settings, swipe down from the top of your screen. To find all your Quick Settings.</p>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="box">
              <div class="our-services backups">
                <div class="icon">
                  <img src="/img/backup.png" alt="">
                </div>
                <h4>Backups</h4>
                <p>To find your first few settings, swipe down from the top of your screen. To find all your Quick Settings.</p>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="box">
              <div class="our-services ssl">
                <div class="icon">
                  <img src="/img/shield.png" alt="">
                </div>
                <h4>SSL secured</h4>
                <p>To find your first few settings, swipe down from the top of your screen. To find all your Quick Settings.</p>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="box">
              <div class="our-services database">
                <div class="icon">
                  <img src="/img/database.png" alt="">
                </div>
                <h4>Database</h4>
                <p>To find your first few settings, swipe down from the top of your screen. To find all your Quick Settings.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>